@font-face {
   font-family: 'KHNPHU';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KHNPHU.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'KHNPHD';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KHNPHD.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Vitro_pride';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_pride.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
*{margin:0;padding:0;}/*여백초기화*/
a{text-decoration: none; color: #333;}/*밑줄,글자색바꾸기*/
ul{list-style: none;}/*블릿없애기*/
body{
	font-family: 'KHNPHU';
	font-size:14px;
	color:#333;
	line-height:1.5em;
}
/*margin200*/
.margin200{
   width:1320px;
   height:200px;
   margin:0 auto;
   position:relative;
   top:0;
   left:0;
}
.margin200_title{
   font-family: 'KHNPHD';
   font-size:20px;
   position:absolute;
   bottom:20px;
   left:0;
}
.margin200 .more_wrap{
   width:180px;
   height:40px;
   position:absolute;
   bottom:60px;
   left:50%;
   margin-left:-90px;
   text-align: center;
   box-sizing: border-box;
   overflow: hidden;
}
.margin200 .more_wrap a{
   width:180px;
   height:40px;
   color:#253066;
   border:1px solid #253066;
   display: block;
   box-sizing: border-box;
   padding-top:9px;
      
}
.margin200 .more_wrap .more_bg{
   position:absolute;
   top:0;
   z-index:0;
   left:-234px;
   width:220px;
   height:40px;
   background-color: #253066;
   transform: skewx(-30deg);
   text-align: center;
   padding:9px 6px 0 0;
   box-sizing: border-box;
   transition: ease 0.5s;
   opacity: 0;
}
.margin200 .more_wrap a:hover{
   color:#fff;
   position:absolute;
   top:0;
   left:0;
   z-index:10;
   transition: ease 0.3s;
   box-sizing: border-box;
}
.margin200 .more_wrap a:hover .more_bg{
   left:-20px;
   transition: ease 0.5s;
   box-sizing: border-box;
   opacity: 1;
}
/*Header------------------------------------------------*/
/*Header_util-------------------*/
#header_wrap{
   height:120px;
}
.util{
   width:1320px;
   height:50px;
   margin:0 auto;
   box-sizing: border-box;
   position:relative;
}
.util ul{
   float:right;
}
.util ul li{
   float:left;
   padding:15px 80px 0 0;
}
.util ul li a{
   color:#0368ac;
   font-size:12px;
   box-sizing: border-box;
   padding-bottom:2px;
}
.util ul li a:hover{
   border-bottom:2px solid #0368ac;
   font-weight:900;
}
.util h1{
   position:absolute;
   top:0;
   left:-190px;
}
/*Header_GNB-------------------*/
.gnb_wrap{
   background-color: #0368ac;
   height:70px;
}
#gnb{
   box-sizing: border-box;
   width:1320px;
   margin:0 auto;
}
#gnb > ul{
   float:right;
}
#gnb > ul > li{
   float:left;
   padding-top:25px;
}
#gnb > ul > li:nth-child(6){
   padding-top:16px;
}
#gnb > ul > li > a{
   color:#fff;
   padding:26px 40px 25px;
   box-sizing: border-box;
   font-size: 20px;
}
/*submenu----------------------------------------------*/
.submenu_wrap{
   position:absolute;
   top:120px;
   right:0;
   width:100%;
   background: #0368ac;
}
.submenu{
   width:1320px;
   margin:0 auto;
}
.submenu_right{
   float:right;
   margin-right:239px;
}
.submenu_right ul{
   float:left;
}
.submenu_right ul li a{
   display: block;
   color:#fff;
   width:140px;
   padding:15px 1px;
   margin:10px 5px;
   text-align: center;
   transition: ease 0.5s;
   border-radius: 20px;
   transition: ease 0.7s;
   font-size:16px;
}
.submenu_right ul li a:hover{
   color:#0368ac;
   background-color: rgba(255, 255, 255, 1);
   transition: ease 0.3s;
}
/*banner------------------------------------------------*/
#main_banner{
   height:600px;
   margin:0 auto;
   text-align: center;
}
#main_banner img{
   width:1920px;
}
/*timer------------------------------------------------*/
#timer{
   height:70px;
   border-bottom:1px solid #ddd;
}
#timer .timer{
   width:1320px;
   margin:0 auto;
}
#timer .timer ul li{
   float:left;
   width:33.3%;
   text-align: center;
}
#timer .timer ul .timer_2{
   padding-top:25px;
   font-size:16px;
}
#timer .timer .d_day1{
   color:#0368ac;
   font-size:30px;
   padding-top:27px;
}
#timer .timer ul .timer_3{
   float:left;
   text-align: center;
}
#timer .timer ul .timer_3 ul li:nth-child(1){
   padding-top:15px;
   width:144px;
   margin-right:35px;
}
#timer .timer ul .timer_3 ul li:nth-child(2){
   padding:24px 0 0 5px;
   width:125px;
   margin-right:35px;
}
#timer .timer ul .timer_3 ul li:nth-child(3){
   padding-top:24px;
   width:50px;
}
/*games------------------------------------------------*/
#games{
   height:200px;
}
#games ul{
   width:1149px;
   margin:0 auto;
   text-align: center;
}
#games ul li{
   float:left;
   padding:20px 75px 0 0;
}
#games ul li:nth-child(6){
   padding-right:0;
}
#games ul li img{
   width:129px;
   height:129px;
   margin-bottom:5px;
}
#games ul li a{
   opacity: 1;
   transition:ease 1s;
}
#games ul li a:hover{
   opacity: 0.5;
   transition:ease 0.4s;
}
/*schedule------------------------------------------------*/
#schedule{
   height:280px;
   background-color: #eee;
   background-image: url("../image/main/schedule_bg.png");
}
#schedule> ul{
   width:1320px;
   margin:0 auto;
}
#schedule >ul> li{
   float:left;
   width:11.1%;
   text-align: center;
   position:relative;
}
#schedule >ul> li> a{
   display: block;
   color:#fff;
   padding:10px 0 10px 0;
}
#schedule ul li .s_y{background-color: #eb9a27;}
#schedule ul li .s_r{background-color: #c92b28;}
#schedule ul li .s_e{background-color: #39beb9;}
#schedule ul li .s_b{background-color: #253066;}
/*schedule_menu-----------------------------------------*/
#schedule ul li .ss_y{background-color: #eb9a27;}
#schedule ul li .ss_r{background-color: #c92b28;}
#schedule ul li .ss_e{background-color: #39beb9;}
#schedule ul li .ss_b{background-color: #253066;}
#schedule ul li .schedule_menu{
   background-image: url("../image/main/shedule_bg.png");
   background-position: bottom 0 left 0;
   background-repeat: no-repeat;
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:295px;
   border-radius: 0 0 10px 10px;
}
#schedule ul li .schedule_date{
   color:#fff;
   font-size:20px;
   padding:15px  0 15px 0;
}
#schedule ul li .schedule_title1{
   margin:0 auto;
   width:100px;
   color:#fff;
   font-size:18px;
   padding:10px  0 10px 0;
   border-top:1px solid #fff;
   border-bottom:1px solid #fff;
   margin-top:5px;
}
#schedule ul li .schedule_title2{
   margin:0 auto;
   width:100px;
   color:#fff;
   font-size:18px;
   padding:10px  0 10px 0;
   border-top:1px solid #fff;
   border-bottom:1px solid #fff;
   margin-top:18px;
}
#schedule ul li .schedule_icon{
   padding-top:30px;
}
#schedule ul li .shcedule_event{
   color:#fff;
   padding:20px 0;
   font-size:16px;
}
/*news------------------------------------------------*/
#news{
   height:340px;
}
#news ul{
   width:1320px;
   margin:0 auto;
}
#news ul li{
   width:400px;
   height:340px;
   float:left;
   padding-left:30px;
   position:relative;
   top:0;
   left:0;
}
#news ul li a{
   display: block;
   background-color: #000;
}
#news ul li a .news_play{
   position:absolute;
   top:50%;
   left:50%;
   margin-top:-80px;
   margin-left:-35px;
}
#news ul li a:hover .news_play{
   opacity: 0;
   transition: ease 0.3s;
}
#news ul li a .news_img{
   display: block; 
   opacity: 0.3;
   transition: ease 0.7s;
}
#news ul li a:hover .news_img{
   opacity: 1;
   transition: ease 0.3s;
}
#news ul li a .news_title{
   height:50px;
   background-color: #0368ac;
   color:#fff;
   padding:16px 0 0 20px;
   box-sizing: border-box;
}
/*event banner------------------------------------------------*/
#banner .swiper_wrapper{
   max-width:100%;
}
/*shop------------------------------------------------*/
#shop{
   width:1320px;
   height:350px;
   margin:0 auto;
}
/*busan------------------------------------------------*/
#busan{
   height:380px;
   text-align: center;
}
#busan ul{
   width:1320px;
   margin:0 auto;
}
#busan ul li{
   float:left;
   padding:0 20px;
}
#busan ul li a{
   display: block;
   opacity: 1;
   transition:ease 0.5s;
}
#busan ul li a p{
   font-size:16px;
   padding:10px 0;
}
#busan ul li a:hover{
   opacity:0.5;
   transition: ease 0.3s;
   color:#253066
}
/*fotter------------------------------------------------*/
#fotter{
   background-color: #333;
   text-align: center;
   color:#fff;
}
#fotter div{   
   width:700px;
   margin:0 auto;
   box-sizing: border-box;
}
#fotter .fotter1{height:70px; padding-top:25px;}
#fotter .fotter2{height:70px; position:relative;}
#fotter .fotter3{height:75px; padding-top:10px;}
#fotter .fotter4{height:135px; padding-top:55px;}
#fotter .fotter5{height:50px;}
#fotter .fotter1 ul li{
   width:20%;
   float:left;
   box-sizing: border-box;
}
#fotter .fotter2 .f_f_logo1{
   position:absolute;
   top:0;
   left:50%;
   margin-left:-200px;
}
#fotter .fotter2 .f_f_logo2{
   position:absolute;
   top:0;
   left:50%;
   margin-left:100px;
}
#fotter .fotter1 ul li a{
   color:#fff;
   font-size:10px;
}
#fotter .fotter1 ul li a:hover{
   color:#39beb9;
}
#fixed{
   position:fixed;
   bottom:100px;
   right:10%;
   z-index:99;
   text-align: center;
}
#fixed div{
   margin-top:5px;
}
#fixed .f_top img{
   width:40px;
   height:40px;
   padding-top:3px;
}
#fixed .f_tiket img{
   width:30px;
   height:30px;
   padding-top:8px;
}
#fixed .f_button a{
   display: block;
   background-color: #333;
   width:50px;
   height:50px;
   border:1px solid rgba(255, 255, 255, 0.5);
   border-radius: 25px;
   box-sizing: border-box;
}
#fixed .f_tiket a:hover{
   background-color: #c92b28;
   transition: ease 0.3s;
}
#fixed .f_top a:hover{
   background-color: #eb9a27;
   transition: ease 0.3s;
}