@font-face {
   font-family: 'KHNPHU';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KHNPHU.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'KHNPHD';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KHNPHD.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Vitro_pride';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_pride.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
*{margin:0;padding:0;}/*여백초기화*/
a{text-decoration: none; color: #333;}/*밑줄,글자색바꾸기*/
ul{list-style: none;}/*블릿없애기*/
body{
	font-family: 'KHNPHU';
	font-size:14px;
	color:#333;
	line-height:1.5em;
}
/*margin200*/
.margin200{
   width:1320px;
   height:200px;
   margin:0 auto;
   position:relative;
   top:0;
   left:0;
}
.margin150{
   width:1320px;
   height:150px;
   margin:0 auto;
   position:relative;
   top:0;
   left:0;
}
.margin100{
   width:1320px;
   height:100px;
   margin:0 auto;
   position:relative;
   top:0;
   left:0;
}
.margin200_title{
   font-family: 'KHNPHD';
   font-size:20px;
   position:absolute;
   bottom:20px;
   left:0;
}
.margin150_title{
   font-family: 'KHNPHD';
   font-size:20px;
   position:absolute;
   bottom:20px;
   left:0;
}
.margin200 .more_wrap{
   width:180px;
   height:40px;
   position:absolute;
   bottom:60px;
   left:50%;
   margin-left:-90px;
   text-align: center;
   box-sizing: border-box;
   overflow: hidden;
}
.margin200 .more_wrap a{
   width:180px;
   height:40px;
   color:#253066;
   border:1px solid #253066;
   display: block;
   box-sizing: border-box;
   padding-top:9px;
      
}
.margin200 .more_wrap .more_bg{
   position:absolute;
   top:0;
   z-index:0;
   left:-234px;
   width:220px;
   height:40px;
   background-color: #253066;
   transform: skewx(-30deg);
   text-align: center;
   padding:9px 6px 0 0;
   box-sizing: border-box;
   transition: ease 0.5s;
   opacity: 0;
}
.margin200 .more_wrap a:hover{
   color:#fff;
   position:absolute;
   top:0;
   left:0;
   z-index:1;
   transition: ease 0.3s;
   box-sizing: border-box;
}
.margin200 .more_wrap a:hover .more_bg{
   left:-20px;
   transition: ease 0.5s;
   box-sizing: border-box;
   opacity: 1;
}
/*Header------------------------------------------------*/
/*Header_util-------------------*/
#header_wrap{
   height:120px;
}
.util{
   width:1320px;
   height:50px;
   margin:0 auto;
   box-sizing: border-box;
   position:relative;
}
.util ul{
   float:right;
}
.util ul li{
   float:left;
   padding:15px 80px 0 0;
}
.util ul li a{
   color:#0368ac;
   font-size:12px;
   box-sizing: border-box;
   padding-bottom:2px;
}
.util ul li a:hover{
   border-bottom:2px solid #0368ac;
   font-weight:900;
}
.util h1{
   position:absolute;
   top:0;
   left:-190px;
}
/*Header_GNB-------------------*/
.gnb_wrap{
   background-color: #0368ac;
   height:70px;
}
#gnb{
   box-sizing: border-box;
   width:1320px;
   margin:0 auto;
}
#gnb > ul{
   float:right;
}
#gnb > ul > li{
   float:left;
   padding-top:25px;
}
#gnb > ul > li:nth-child(6){
   padding-top:16px;
}
#gnb > ul > li > a{
   color:#fff;
   padding:26px 40px 25px;
   box-sizing: border-box;
   font-size: 20px;
}
/*submenu----------------------------------------------*/
.submenu_wrap{
   position:absolute;
   top:120px;
   right:0;
   width:100%;
   background: #0368ac;
   z-index: 15;
}
.submenu{
   width:1320px;
   margin:0 auto;
}
.submenu_right{
   float:right;
   margin-right:239px;
}
.submenu_right ul{
   float:left;
}
.submenu_right ul li a{
   display: block;
   color:#fff;
   width:140px;
   padding:15px 1px;
   margin:10px 5px;
   text-align: center;
   transition: ease 0.5s;
   border-radius: 20px;
   transition: ease 0.7s;
   font-size:16px;
}
.submenu_right ul li a:hover{
   color:#0368ac;
   background-color: rgba(255, 255, 255, 1);
   transition: ease 0.3s;
}
/*------------------------------------------------------------------*/
#fotter{
   background-color: #333;
   text-align: center;
   color:#fff;
}
#fotter div{   
   width:700px;
   margin:0 auto;
   box-sizing: border-box;
}
#fotter .fotter1{height:70px; padding-top:25px;}
#fotter .fotter2{height:70px; position:relative;}
#fotter .fotter3{height:75px; padding-top:10px;}
#fotter .fotter4{height:135px; padding-top:55px;}
#fotter .fotter5{height:50px;}
#fotter .fotter1 ul li{
   width:20%;
   float:left;
   box-sizing: border-box;
}
#fotter .fotter2 .f_f_logo1{
   position:absolute;
   top:0;
   left:50%;
   margin-left:-200px;
}
#fotter .fotter2 .f_f_logo2{
   position:absolute;
   top:0;
   left:50%;
   margin-left:100px;
}
#fotter .fotter1 ul li a{
   color:#fff;
   font-size:10px;
}
#fotter .fotter1 ul li a:hover{
   color:#39beb9;
}
#fixed{
   position:fixed;
   bottom:100px;
   right:10%;
   z-index:99;
   text-align: center;
}
#fixed div{
   margin-top:5px;
}
#fixed .f_top img{
   width:40px;
   height:40px;
   padding-top:3px;
}
#fixed .f_tiket img{
   width:30px;
   height:30px;
   padding-top:8px;
}
#fixed .f_button a{
   display: block;
   background-color: #333;
   width:50px;
   height:50px;
   border:1px solid rgba(255, 255, 255, 0.5);
   border-radius: 25px;
   box-sizing: border-box;
}
#fixed .f_tiket a:hover{
   background-color: #c92b28;
   transition: ease 0.3s;
}
#fixed .f_top a:hover{
   background-color: #eb9a27;
   transition: ease 0.3s;
}
/*MIDME INTRO------------------------------------------------------*/
#midme_intro{
   width:1320px;
   height:600px;
   border-top:1px solid #ddd;
   margin:0 auto;
   padding-top:30px;
}
.span_black{
   font-size:15px;
   font-weight:900;
}
.span_yellow{
   font-size:15px;
   font-weight:900;
   color:#fdb81f;
}
.span_red{
   font-size:15px;
   font-weight:900;
   color:#ed1b24;
}
.span_blackpearl{
   font-size:15px;
   font-weight:900;
   color:#0c1a27;
}
.span_turquoise{
   font-size:15px;
   font-weight:900;
   color:#39beb9;
}
#midme_sub_title{
   font-size:16px;
   font-weight:900;
   margin-bottom:30px;
   border-bottom:1px solid #ddd;
   padding-bottom:5px;
}
#midme_intro .midme_intro{
   width:45%;
}
#midme_intro .midme_intro_left{
   float:left;
}
#midme_intro .midme_intro_right{
   float:right;
   background: url("../image/sub1/sub1_chmap_bg.png") no-repeat top 100px center;
}
#midme_intro .midme_intro_right .midme_intro_right_text{
   line-height: 1.65em;
}
/*MIDME SYMBOL-----------------------------------------------------*/
#midme_symbol{
   width:1320px;
   height:520px;
   margin:0 auto;
   border-top:1px solid #ddd;
   padding-top:20px;
}
#midme_symbol .midme_symbol{
   width:45%;
}
#midme_symbol .midme_symbol_left{
   float:left;
}
#midme_symbol .midme_symbol_right{
   float:right;
}
#midme_symbol img{
   height:60px;
   padding-bottom:30px;
}
/*MIDME SIGNATURE--------------------------------------------------*/
#midme_signature{
   width:1320px;
   height:170px;
   margin:0 auto;
   border-top:1px solid #ddd;
   padding-top:30px;
   box-sizing: border-box;
}
#midme_signature .midme_signature_wrap ul li{
   float:left;
   padding-right:75px;
   padding-top:5px;

}
#midme_signature .midme_signature_wrap ul li:nth-child(1){
   padding-top:0;
}
#midme_signature .midme_signature_wrap ul li:nth-child(4){
   padding-right:0;
}
/*about_busan_banner------------------------------------------------------*/
#about_busan_banner{
   width:1920px;
   margin:0 auto;
   height:600px;
   position:relative;
   top:0;
   left:0;
}
#about_busan_banner .busanoiso{
   position:absolute;
   bottom:0;
   right: 200px;
   z-index:10;
}
/*about_busan_visit------------------------------------------------------*/
#about_busan_visit{
   width:1920px;
   height:720px;
   margin:0 auto;
   background: url("../image/sub1/sub1_busan_location_bg.jpg") no-repeat top left;
}
#about_busan_visit .about_busan_visit_box{
   width:1280px;
   margin:0 auto;
   padding:40px 0 0 0;
}
#about_busan_visit .about_busan_visit_box .visit_busan_box{
   width:400px;
   height:300px;
   float: left;
   border:1px solid #fff;
   position:relative;
   top:0;
   left:0;
   box-sizing: border-box;
   margin-bottom:40px;
}
#about_busan_visit .about_busan_visit_box .visit_busan_box a{
   display: block;
   transition: ease 0.5s;
}
#about_busan_visit .about_busan_visit_box .visit_busan_box:nth-child(2){
   margin:0 40px;
}
#about_busan_visit .about_busan_visit_box .visit_busan_box:nth-child(5){
   margin:0 40px;
}
#about_busan_visit .about_busan_visit_box .visit_busan_box img{
   width:100%;
   height:250px;
   display: block;
}
#about_busan_visit .about_busan_visit_box .visit_busan_box p{
   height:36px;
   color:#fff;
   font-size:16px;
   padding:12px 0 0 20px;
   background-color: #0e88de;
   transition: ease 0.5s;
}
#about_busan_visit .visit_busan_box_circle{
   width:50px;
   height:50px;
   border-radius: 25px;
   background-color: #fff;
   color:#ccc;
   text-align: center;
   font-size:30px;
   font-weight:900;
   font-family: 'Vitro_pride';
   padding:15px 0 0 4px;
   box-sizing: border-box;
   position:absolute;
   top:-25px;
   left:15px;
   transition: ease 0.5s;
}
#about_busan_visit .about_busan_visit_box .visit_busan_box a:hover p{
   color:#d200ff;
   background-color: #fff;
   transition: ease 1s;
}
#about_busan_visit .about_busan_visit_box .visit_busan_box a:hover .visit_busan_box_circle{
   color:#d200ff;
   transition: ease 1s;
}
/*about_busan_location------------------------------------------------------*/
#about_busan_location{
   height:260px;
   width:1280px;
   margin:0 auto;
   box-sizing: border-box;
   padding-top:25px;
}
#about_busan_location ul li{
   padding-top:15px;
   text-align: center;
   box-sizing: border-box;
   float:left;
   margin-right:40px;
}
#about_busan_location ul li:nth-child(6){
   margin-right:0;
}
#about_busan_location ul li a{
   position:relative;
   top:0;
   left:0;
   display: block;
   width:180px;
   height:180px;
   border: 1px solid #ddd;
   overflow: hidden;
   padding-top: 13px;
   box-sizing: border-box;
}
#about_busan_location ul li div{
   position:relative;
   top:0;
   left:0;
   z-index:10;
}
#about_busan_location ul li p{
   transition: ease 0.3s;
}
#about_busan_location ul li img{
   margin-bottom:4px;
   box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.2);
   width:123px;
   height:123px;
   border-radius: 61.5px;
}
#about_busan_location ul li .location_bg{
   width:180px;
   height:180px;
   position:absolute;
   top:-180px;
   left:0;
   z-index:9;
   transition: ease 0.3s;
}
#about_busan_location ul li .bg_yellow{background-color: #eb9a27;}
#about_busan_location ul li .bg_blue{background-color: #0e88de;}
#about_busan_location ul li .bg_red{background-color: #d82f32;}
#about_busan_location ul li a:hover .location_bg{
   top:0;
   transition: ease 0.7s;
}
#about_busan_location ul li a:hover p{
   color:#fff;
   transition: ease 0.7s;
}