@font-face {
   font-family: 'KHNPHU';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KHNPHU.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'KHNPHD';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KHNPHD.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Vitro_pride';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_pride.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
*{margin:0;padding:0;}/*여백초기화*/
a{text-decoration: none; color: #333;}/*밑줄,글자색바꾸기*/
ul{list-style: none;}/*블릿없애기*/
body{
	font-family: 'KHNPHU';
	font-size:14px;
	color:#333;
	line-height:1.5em;
   min-width: 1320px;
}
/*margin*/
.margin200{
   width:1320px;
   height:200px;
   margin:0 auto;
   position:relative;
   top:0;
   left:0;
}
.margin150{
   width:1140px;
   height:150px;
   margin:0 auto;
   position:relative;
   top:0;
   left:0;
}
.margin100{
   width:1320px;
   height:100px;
   margin:0 auto;
   position:relative;
   top:0;
   left:0;
}
.margin200_title{
   font-family: 'KHNPHD';
   font-size:20px;
   position:absolute;
   bottom:20px;
   left:0;
}
.margin150_title{
   font-family: 'KHNPHD';
   font-size:20px;
   position:absolute;
   bottom:20px;
   left:0;
}
.margin100_title{
   font-family: 'KHNPHD';
   font-size:20px;
   position:absolute;
   bottom:20px;
   left:0;
}
.more_wrap1{
   width:180px;
   height:40px;
   position:absolute;
   bottom:0;
   right:220px;
   margin-left:-90px;
   text-align: center;
   box-sizing: border-box;
   overflow: hidden;
}
.more_wrap1 a{
   width:180px;
   height:40px;
   color:#253066;
   border:1px solid #253066;
   display: block;
   box-sizing: border-box;
   padding-top:7px;
      
}
.more_wrap1 .more_bg{
   position:absolute;
   top:0;
   z-index:0;
   left:-234px;
   width:220px;
   height:40px;
   background-color: #253066;
   transform: skewx(-30deg);
   text-align: center;
   padding:6px 6px 0 0;
   box-sizing: border-box;
   transition: ease 0.5s;
   opacity: 0;
}
.more_wrap1 a:hover{
   color:#fff;
   position:absolute;
   top:0;
   left:0;
   z-index:1;
   transition: ease 0.3s;
   box-sizing: border-box;
}
.more_wrap1 a:hover .more_bg{
   left:-20px;
   transition: ease 0.5s;
   box-sizing: border-box;
   opacity: 1;
}
.more_wrap2{
   width:180px;
   height:40px;
   position:absolute;
   bottom:0;
   right:0;
   margin-left:-90px;
   text-align: center;
   box-sizing: border-box;
   overflow: hidden;
}
.more_wrap2 a{
   width:180px;
   height:40px;
   color:#253066;
   border:1px solid #253066;
   display: block;
   box-sizing: border-box;
   padding-top:7px;
      
}
.more_wrap2 .more_bg{
   position:absolute;
   top:0;
   z-index:0;
   left:-234px;
   width:220px;
   height:40px;
   background-color: #253066;
   transform: skewx(-30deg);
   text-align: center;
   padding:6px 6px 0 0;
   box-sizing: border-box;
   transition: ease 0.5s;
   opacity: 0;
}
.more_wrap2 a:hover{
   color:#fff;
   position:absolute;
   top:0;
   left:0;
   z-index:1;
   transition: ease 0.3s;
   box-sizing: border-box;
}
.more_wrap2 a:hover .more_bg{
   left:-20px;
   transition: ease 0.5s;
   box-sizing: border-box;
   opacity: 1;
}
.margin1{
   width:1320px;
   height:12px;
}
/*Header------------------------------------------------*/
/*Header_util-------------------*/
#header_wrap{
   height:120px;
}
.util{
   width:1320px;
   height:50px;
   margin:0 auto;
   box-sizing: border-box;
   position:relative;
}
.util ul{
   float:right;
}
.util ul li{
   float:left;
   padding:15px 80px 0 0;
}
.util ul li a{
   color:#0368ac;
   font-size:12px;
   box-sizing: border-box;
   padding-bottom:2px;
}
.util ul li a:hover{
   border-bottom:2px solid #0368ac;
   font-weight:900;
}
.util h1{
   position:absolute;
   top:0;
   left:-190px;
}
/*Header_GNB-------------------*/
.gnb_wrap{
   background-color: #0368ac;
   height:70px;
}
#gnb{
   box-sizing: border-box;
   width:1320px;
   margin:0 auto;
}
#gnb > ul{
   float:right;
}
#gnb > ul > li{
   float:left;
   padding-top:25px;
}
#gnb > ul > li:nth-child(6){
   padding-top:16px;
}
#gnb > ul > li > a{
   color:#fff;
   padding:26px 40px 25px;
   box-sizing: border-box;
   font-size: 20px;
}
/*submenu----------------------------------------------*/
.submenu_wrap{
   position:absolute;
   top:120px;
   right:0;
   width:100%;
   background: #0368ac;
   z-index: 15;
}
.submenu{
   width:1320px;
   margin:0 auto;
}
.submenu_right{
   float:right;
   margin-right:239px;
}
.submenu_right ul{
   float:left;
}
.submenu_right ul li a{
   display: block;
   color:#fff;
   width:140px;
   padding:15px 1px;
   margin:10px 5px;
   text-align: center;
   transition: ease 0.5s;
   border-radius: 20px;
   transition: ease 0.7s;
   font-size:16px;
}
.submenu_right ul li a:hover{
   color:#0368ac;
   background-color: rgba(255, 255, 255, 1);
   transition: ease 0.3s;
}
/*------------------------------------------------------------------*/
#fotter{
   background-color: #333;
   text-align: center;
   color:#fff;
}
#fotter div{   
   width:700px;
   margin:0 auto;
   box-sizing: border-box;
}
#fotter .fotter1{height:70px; padding-top:25px;}
#fotter .fotter2{height:70px; position:relative;}
#fotter .fotter3{height:75px; padding-top:10px;}
#fotter .fotter4{height:135px; padding-top:55px;}
#fotter .fotter5{height:50px;}
#fotter .fotter1 ul li{
   width:20%;
   float:left;
   box-sizing: border-box;
}
#fotter .fotter2 .f_f_logo1{
   position:absolute;
   top:0;
   left:50%;
   margin-left:-200px;
}
#fotter .fotter2 .f_f_logo2{
   position:absolute;
   top:0;
   left:50%;
   margin-left:100px;
}
#fotter .fotter1 ul li a{
   color:#fff;
   font-size:10px;
}
#fotter .fotter1 ul li a:hover{
   color:#39beb9;
}
#fixed{
   position:fixed;
   bottom:100px;
   right:10%;
   z-index:99;
   text-align: center;
}
#fixed div{
   margin-top:5px;
}
#fixed .f_top img{
   width:40px;
   height:40px;
   padding-top:3px;
}
#fixed .f_tiket img{
   width:30px;
   height:30px;
   padding-top:8px;
}
#fixed .f_button a{
   display: block;
   background-color: #333;
   width:50px;
   height:50px;
   border:1px solid rgba(255, 255, 255, 0.5);
   border-radius: 25px;
   box-sizing: border-box;
}
#fixed .f_tiket a:hover{
   background-color: #c92b28;
   transition: ease 0.3s;
}
#fixed .f_top a:hover{
   background-color: #eb9a27;
   transition: ease 0.3s;
}


/*fadebanner*/

.slide{
   width:930px;
   height:130px;
   margin:0 auto;
   position:relative;
   overflow: hidden;
}
.slideImg img{
   position: absolute;
   width:100%;
}



/*calendar*/

.calendar_wrap{
   width:1140px;
   height:70px;
   margin:0 auto;
}
/*white*/


#calendar > li{
   float:left;
   width:96px;
   height:70px;
   position:relative;
   top:0;
   left:0;
}
#calendar .subtab_f{
   width:276px;
   box-sizing: border-box;
}
#calendar .subtab_f a{
   padding-top:26px;
}
#calendar > li > a{
   height:70px;
   display: block;
   text-align: center;
   padding:15px 30px 13px;
   box-sizing: border-box;
   border-right:1px solid #ddd;
   background-color: #fff;
}
#calendar .subtab_f a{
   height:70px;
}
/*gray*/
#calendar1 > li{
   float:left;
   width:96px;
   height:70px;
   position:relative;
   top:0;
   left:0;
}
#calendar1 .subtab_f{
   width:276px;
   box-sizing: border-box;
}
#calendar1 .subtab_f a{
   padding-top:26px;
}
#calendar1 .subtab_f a img{
   display: block;
}
#calendar1 > li > a{
   height:70px;
   display: block;
   text-align: center;
   padding:15px 30px 13px;
   box-sizing: border-box;
   border-right:1px solid #ddd;
   background-color: #eee;
}
#calendar1 .subtab_f a{
   height:70px;
}
/*etc*/
#dot{padding-top:13px;}
#medal{padding-top:7px;}
#tourch{padding-top:4px;}
#trohpy{padding-top:6px;}
.subtab{
   height:70px;
   width:1140px;
   position:absolute;
   top:70px;
   text-align: center;
   display: inline;
   font-size:22px;
   z-index: 10;
}
.subtab p{
   padding-top:9px;
}
.subtab1{left:-276px;}
.subtab2{left:-372px;}
.subtab3{left:-468px;}
.subtab4{left:-564px;}
.subtab5{left:-660px;}
.subtab6{left:-756px;}
.subtab7{left:-852px;}
.subtab8{left:-948px;}
.subtab9{left:-1044px;}


/*legend*/


.legend{
   width:1140px;
   margin:20px auto 30px;
   font-size: 12px;;
}
.legend > ul > li{
   float:left;
   margin-right:50px;
}
.legend_icon ul li{
   float:left;
   margin-right:20px;
}
.icon3 img{
   position: relative;
   top:-8px;
}