@font-face {
   font-family: 'KHNPHU';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KHNPHU.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'KHNPHD';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KHNPHD.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Vitro_pride';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_pride.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
*{margin:0;padding:0;}/*여백초기화*/
a{text-decoration: none; color: #333;}/*밑줄,글자색바꾸기*/
ul{list-style: none;}/*블릿없애기*/
body{
	font-family: 'KHNPHU';
	font-size:14px;
	color:#333;
	line-height:1.5em;
   background-color: #ededed;
}
/*margin*/
.margin200{
   width:1320px;
   height:200px;
   margin:0 auto;
   position:relative;
   top:0;
   left:0;
}
.margin150{
   width:1140px;
   height:150px;
   margin:0 auto;
   position:relative;
   top:0;
   left:0;
}
.margin100{
   width:1320px;
   height:100px;
   margin:0 auto;
   position:relative;
   top:0;
   left:0;
}
.margin60{
   width:1320px;
   height:60px;
   margin:0 auto;
   position:relative;
   top:0;
   left:0;
}
.margin200_title{
   font-family: 'KHNPHD';
   font-size:20px;
   position:absolute;
   bottom:20px;
   left:0;
}
.margin150_title{
   font-family: 'KHNPHD';
   font-size:20px;
   position:absolute;
   bottom:20px;
   left:0;
}
.margin100_title{
   font-family: 'KHNPHD';
   font-size:20px;
   position:absolute;
   bottom:20px;
   left:0;
}
.more_wrap1{
   width:180px;
   height:40px;
   position:absolute;
   bottom:0;
   right:220px;
   margin-left:-90px;
   text-align: center;
   box-sizing: border-box;
   overflow: hidden;
}
.more_wrap1 a{
   width:180px;
   height:40px;
   color:#253066;
   border:1px solid #253066;
   display: block;
   box-sizing: border-box;
   padding-top:7px;
      
}
.more_wrap1 .more_bg{
   position:absolute;
   top:0;
   z-index:0;
   left:-234px;
   width:220px;
   height:40px;
   background-color: #253066;
   transform: skewx(-30deg);
   text-align: center;
   padding:6px 6px 0 0;
   box-sizing: border-box;
   transition: ease 0.5s;
   opacity: 0;
}
.more_wrap1 a:hover{
   color:#fff;
   position:absolute;
   top:0;
   left:0;
   z-index:1;
   transition: ease 0.3s;
   box-sizing: border-box;
}
.more_wrap1 a:hover .more_bg{
   left:-20px;
   transition: ease 0.5s;
   box-sizing: border-box;
   opacity: 1;
}
.more_wrap2{
   width:180px;
   height:40px;
   position:absolute;
   bottom:0;
   right:0;
   margin-left:-90px;
   text-align: center;
   box-sizing: border-box;
   overflow: hidden;
}
.more_wrap2 a{
   width:180px;
   height:40px;
   color:#253066;
   border:1px solid #253066;
   display: block;
   box-sizing: border-box;
   padding-top:7px;
      
}
.more_wrap2 .more_bg{
   position:absolute;
   top:0;
   z-index:0;
   left:-234px;
   width:220px;
   height:40px;
   background-color: #253066;
   transform: skewx(-30deg);
   text-align: center;
   padding:6px 6px 0 0;
   box-sizing: border-box;
   transition: ease 0.5s;
   opacity: 0;
}
.more_wrap2 a:hover{
   color:#fff;
   position:absolute;
   top:0;
   left:0;
   z-index:1;
   transition: ease 0.3s;
   box-sizing: border-box;
}
.more_wrap2 a:hover .more_bg{
   left:-20px;
   transition: ease 0.5s;
   box-sizing: border-box;
   opacity: 1;
}
.margin1{
   width:1320px;
   height:12px;
}
/*Header------------------------------------------------*/
/*Header_util-------------------*/
#header_wrap{
   width:1920px;
   height:120px;
}
.util_bg{
   height:50px;
   background-color: #fff;
}
.util{
   width:1320px;
   margin:0 auto;
   box-sizing: border-box;
   position:relative;
}
.util ul{
   float:right;
}
.util ul li{
   float:left;
   padding:15px 80px 0 0;
}
.util ul li a{
   color:#0368ac;
   font-size:12px;
   box-sizing: border-box;
   padding-bottom:2px;
}
.util ul li a:hover{
   border-bottom:2px solid #0368ac;
   font-weight:900;
}
.util h1{
   position:absolute;
   top:0;
   left:-190px;
}
/*Header_GNB-------------------*/
.gnb_wrap{
   background-color: #0368ac;
   height:70px;
}
#gnb{
   box-sizing: border-box;
   width:1320px;
   margin:0 auto;
}
#gnb > ul{
   float:right;
}
#gnb > ul > li{
   float:left;
   padding-top:25px;
}
#gnb > ul > li:nth-child(6){
   padding-top:16px;
}
#gnb > ul > li > a{
   color:#fff;
   padding:26px 40px 25px;
   box-sizing: border-box;
   font-size: 20px;
}
/*submenu----------------------------------------------*/
.submenu_wrap{
   position:absolute;
   top:120px;
   right:0;
   width:100%;
   background: #0368ac;
   z-index: 15;
}
.submenu{
   width:1320px;
   margin:0 auto;
}
.submenu_right{
   float:right;
   margin-right:239px;
}
.submenu_right ul{
   float:left;
}
.submenu_right ul li a{
   display: block;
   color:#fff;
   width:140px;
   padding:15px 1px;
   margin:10px 5px;
   text-align: center;
   transition: ease 0.5s;
   border-radius: 20px;
   transition: ease 0.7s;
   font-size:16px;
}
.submenu_right ul li a:hover{
   color:#0368ac;
   background-color: rgba(255, 255, 255, 1);
   transition: ease 0.3s;
}
/*------------------------------------------------------------------*/
#fotter{
   background-color: #333;
   text-align: center;
   color:#fff;
}
#fotter div{   
   width:700px;
   margin:0 auto;
   box-sizing: border-box;
}
#fotter .fotter1{height:70px; padding-top:25px;}
#fotter .fotter2{height:70px; position:relative;}
#fotter .fotter3{height:75px; padding-top:10px;}
#fotter .fotter4{height:135px; padding-top:55px;}
#fotter .fotter5{height:50px;}
#fotter .fotter1 ul li{
   width:20%;
   float:left;
   box-sizing: border-box;
}
#fotter .fotter2 .f_f_logo1{
   position:absolute;
   top:0;
   left:50%;
   margin-left:-200px;
}
#fotter .fotter2 .f_f_logo2{
   position:absolute;
   top:0;
   left:50%;
   margin-left:100px;
}
#fotter .fotter1 ul li a{
   color:#fff;
   font-size:10px;
}
#fotter .fotter1 ul li a:hover{
   color:#39beb9;
}
#fixed{
   position:fixed;
   bottom:100px;
   right:10%;
   z-index:99;
   text-align: center;
}
#fixed div{
   margin-top:5px;
}
#fixed .f_top img{
   width:40px;
   height:40px;
   padding-top:3px;
}
#fixed .f_tiket img{
   width:30px;
   height:30px;
   padding-top:8px;
}
#fixed .f_button a{
   display: block;
   background-color: #333;
   width:50px;
   height:50px;
   border:1px solid rgba(255, 255, 255, 0.5);
   border-radius: 25px;
   box-sizing: border-box;
}
#fixed .f_tiket a:hover{
   background-color: #c92b28;
   transition: ease 0.3s;
}
#fixed .f_top a:hover{
   background-color: #eb9a27;
   transition: ease 0.3s;
}

/*온라인샵 배너*/
.shop_banner{
   width:1320px;
   margin:0 auto;
   text-align: center;
}

/*온라인샵 베스트*/
#shop_best_wrap{
   height:520px;
   background-color: #fff;
   margin-bottom:40px;
}
#shop_wrap{
   height:400px;
   margin-bottom:40px;
}
.shop_best{
   width:1280px; 
   margin:0 auto; 
   box-sizing: border-box;
}
.best_goods{
   padding-top:30px;
   margin-bottom:30px;
   font-family: 'KHNPHD';
   font-size:20px;
   text-align: center;
}
/*box*/
.shop_best ul > li > div > a{
   display: block;
   width:290px;
   height:400px;
   border:1px solid #ddd;
   overflow: hidden;
   position:relative;
   top:0;
   left:0;
   box-sizing: border-box;
}
.shop_best ul li{
   float:left;
   margin-left:40px;
}
.shop_best ul .nomargin{
   margin-left:0;
}
.shop_best ul li div  a .best_banner{
   position:absolute;
   top:0;
   left:20px;
   z-index:99;
}

.shop_box_photo{width:290px; height:290px;}
.shop_box_text{
   width:290px; 
   height:110px;
   position:absolute;
   bottom:0;
   left:0;
}
.box_top{
   height:55px;
   box-sizing: border-box;
   padding:20px 0;
   margin:0 20px;
   border-bottom:1px solid #ddd;
}
.box_bottom{
   height:55px;
   box-sizing: border-box;
   padding:20px 20px;
   text-align: right;
}
.shop_box_hover{
   position:absolute;
   bottom:0px;
   left:-291px;
   color:#fff;
   transition:ease 0.3s;
}
.shop_box_base{
   opacity: 1;
   transition:ease 1s;
   z-index: 1;
   background-color: #fff;
}
.shop_best a:hover .shop_box_base{
   transition:ease 0.5s;
}
.shop_best a:hover .shop_box_base p{
   opacity: 0;
   transition:ease 0.5s;
}
.shop_best a:hover .shop_box_hover{
   left:0;
   transition:ease 0.7s;
   z-index: 10;
}
.shop_best a .shop_box_photo{
   overflow: hidden;
}
.shop_best a .shop_box_photo img{
   transform:scale(1);
   transition:ease 0.5s;
}
.shop_best a:hover .shop_box_photo img{
   transform:scale(1.2);
   transition:ease 1s;
}

/*BOX 색상*/
.shop_box_bg_cloth{
   background-color: #eb9a27;
}
.shop_box_bg_etc{
   background-color: #c92b28;
}
.shop_box_bg_goods{
   background-color: #39beb9;
}
.shop_box_bg_cloths{
   background-color: #0368ac;
}

.ticket_banner{
   width:1280px;
   margin:0 auto;
}

.slide{
   width:930px;
   height:130px;
   margin:0 auto;
   position:relative;
   overflow: hidden;
}
.slideImg img{
   position: absolute;
   width:100%;
}