@font-face {
   font-family: 'KHNPHU';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KHNPHU.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'KHNPHD';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KHNPHD.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Vitro_pride';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_pride.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
*{margin:0;padding:0;}/*여백초기화*/
a{text-decoration: none; color: #333;}/*밑줄,글자색바꾸기*/
ul{list-style: none;}/*블릿없애기*/
body{
	font-family: 'KHNPHU';
	font-size:14px;
	color:#333;
	line-height:1.5em;
   min-width: 1320px;
}
/*margin200*/
.margin200{
   width:1000px;
   height:200px;
   margin:0 auto;
   position:relative;
   top:0;
   left:0;
}
.margin150{
   width:1320px;
   height:150px;
   margin:0 auto;
   position:relative;
   top:0;
   left:0;
}
.margin100{
   width:1320px;
   height:100px;
   margin:0 auto;
   position:relative;
   top:0;
   left:0;
}
.margin200_title{
   font-family: 'KHNPHD';
   font-size:20px;
   position:absolute;
   bottom:20px;
   left:0;
}
.margin150_title{
   font-family: 'KHNPHD';
   font-size:20px;
   position:absolute;
   bottom:20px;
   left:0;
}
.margin200 .more_wrap{
   width:180px;
   height:40px;
   position:absolute;
   bottom:60px;
   left:50%;
   margin-left:-90px;
   text-align: center;
   box-sizing: border-box;
   overflow: hidden;
}
.margin200 .more_wrap a{
   width:180px;
   height:40px;
   color:#253066;
   border:1px solid #253066;
   display: block;
   box-sizing: border-box;
   padding-top:9px;
      
}
.margin200 .more_wrap .more_bg{
   position:absolute;
   top:0;
   z-index:0;
   left:-234px;
   width:220px;
   height:40px;
   background-color: #253066;
   transform: skewx(-30deg);
   text-align: center;
   padding:9px 6px 0 0;
   box-sizing: border-box;
   transition: ease 0.5s;
   opacity: 0;
}
.margin200 .more_wrap a:hover{
   color:#fff;
   position:absolute;
   top:0;
   left:0;
   z-index:1;
   transition: ease 0.3s;
   box-sizing: border-box;
}
.margin200 .more_wrap a:hover .more_bg{
   left:-20px;
   transition: ease 0.5s;
   box-sizing: border-box;
   opacity: 1;
}
/*------------------------------------------------------------------*/
#fotter{
   background-color: #333;
   text-align: center;
   color:#fff;
}
#fotter div{   
   width:700px;
   margin:0 auto;
   box-sizing: border-box;
}
#fotter .fotter1{height:70px; padding-top:25px;}
#fotter .fotter2{height:70px; position:relative;}
#fotter .fotter3{height:75px; padding-top:10px;}
#fotter .fotter4{height:135px; padding-top:55px;}
#fotter .fotter5{height:50px;}
#fotter .fotter1 ul li{
   width:20%;
   float:left;
   box-sizing: border-box;
}
#fotter .fotter2 .f_f_logo1{
   position:absolute;
   top:0;
   left:50%;
   margin-left:-200px;
}
#fotter .fotter2 .f_f_logo2{
   position:absolute;
   top:0;
   left:50%;
   margin-left:100px;
}
#fotter .fotter1 ul li a{
   color:#fff;
   font-size:10px;
}
#fotter .fotter1 ul li a:hover{
   color:#39beb9;
}
#fixed{
   position:fixed;
   bottom:100px;
   right:10%;
   z-index:99;
   text-align: center;
}
#fixed div{
   margin-top:5px;
}
#fixed .f_top img{
   width:40px;
   height:40px;
   padding-top:3px;
}
#fixed .f_tiket img{
   width:30px;
   height:30px;
   padding-top:8px;
}
#fixed .f_button a{
   display: block;
   background-color: #333;
   width:50px;
   height:50px;
   border:1px solid rgba(255, 255, 255, 0.5);
   border-radius: 25px;
   box-sizing: border-box;
}
#fixed .f_tiket a:hover{
   background-color: #c92b28;
   transition: ease 0.3s;
}
#fixed .f_top a:hover{
   background-color: #eb9a27;
   transition: ease 0.3s;
}
/*sub6-----------------------------------------------------------------------------*/
.tiketing_wrap{
   height:600px;
   background-color: #ededed;
}
.tiketing_wrap .tiket_tab{
   width:1000px;
   margin:0 auto;
   position:relative;
   top:0;
   left:0;
}
.tiketing_wrap .tiket_tab h1{
   width:240px;
   height:70px;
   text-align: center;
   padding-top:8px;
   box-sizing: border-box;
   display: inline-block;
}
.tiketing_wrap .tiket_tab > ul{
   float:right;
   width:760px;
}
.tiketing_wrap .tiket_tab > ul > li{
   float:left;
   width:11.1%;
   height:70px;
   box-sizing: border-box;
   text-align: center;
}
.tiketing_wrap .tiket_tab > ul > li > a{
   display: block;
   width:100%;
   height:70px;
   box-sizing: border-box;
   text-align: center;
   padding:12px;
}
#board li.on>div{
   width:1000px;
   height:530px;
   position: absolute;
   top:70px;
   left:0;
}
.tiket_content ul li{
   float:left;
}
.tiket_content .choice{
   width:290px;
   height:510px;
   border-right:1px solid #ddd;
   box-sizing: border-box;
   margin:10px 0;
}
.tiket_content .location{
   width:290px;
   height:510px;
   border-right:1px solid #ddd;
   box-sizing: border-box;
   margin:10px 0;
}
.tiket_content .people{
   width:420px;
   height:510px;
   box-sizing: border-box;
   margin:10px 0;
}


/*선택란 세부*/

.tiket_content .choice .title{
   height:63px;
   box-sizing: border-box;
   padding:0 20px 20px 0;
   width:270px;
   margin:0 auto;
   border-bottom:1px solid #ddd;
}
.tiket_content .choice .title ul li:nth-child(1){
   float:left;
   padding-top:22px;
   font-size:25px;
   font-family: 'KHNPHD';
}
.tiket_content .choice .title ul li:nth-child(2){
   float:right;
   padding-top:10px;
}

.tiket_content .choice .c_button{
   width:270px;
   height:70px;
   margin: 0 auto;
   border-radius: 35px;
   margin-top:30px;
}
.tiket_content .choice .c_normal{
   background-color: #fff;
   border: 1px solid #ddd;
   cursor: pointer;
}
.tiket_content .choice .c_no{
   background-color: #ddd;
   border: 1px solid #aaa;
}
.tiket_content .choice .c_normal .c_button_title{
   text-align: left;
   padding:20px 0 0 30px;
   font-size: 20px;;
   font-family: 'KHNPHD';
}
.tiket_content .choice .c_normal .c_button_sub{
   text-align: right;
   padding:0 30px 0 0;
}
.tiket_content .choice .c_no .c_button_title{
   color:#aaa;
   text-align: left;
   padding:20px 0 0 30px;
   font-size: 20px;;
   font-family: 'KHNPHD';
}
.tiket_content .choice .more_info{
   color:#aaa;
   font-size:10px;
   text-align: left;
   padding-top:24px;
}

/*장소란 세부*/
.tiket_content .location .title{
   height:63px;
   box-sizing: border-box;
   padding:0 20px 20px 0;
   width:270px;
   margin:0 auto;
   border-bottom:1px solid #ddd;
}
.tiket_content .location .title ul li{
   float:left;
   padding-top:22px;
   font-size:25px;
   font-family: 'KHNPHD';
}
.tiket_content .location p{
   margin:10px 0;
   text-align: left;
   padding-left:10px;
}
.tiket_content .location .l_photo{
   position:relative;
   top:0;
   left:0;
   width:270px;
   height:180px;
   margin:0 auto;
}
.tiket_content .location .l_photo img:nth-child(1){
   position:absolute;
   top:0;
   left:0;
   box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
}
.tiket_content .location .l_photo img:nth-child(2){
   position:absolute;
   bottom:0;
   right:0;
   box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
}
.tiket_content .location .googlemap{
   width:270px;
   height:185px;
   margin:0 auto;
   background-color: #253066;
}

/*인원선택란 세부*/
.tiket_content .people .title{
   height:63px;
   box-sizing: border-box;
   padding:0 20px 20px 0;
   width:400px;
   margin:0 auto 15px;
   border-bottom:1px solid #ddd;
}
.tiket_content .people .title ul li{
   float:left;
   padding-top:22px;
   font-size:25px;
   font-family: 'KHNPHD';
}
.tiket_content .people .number{
   width:400px;
   margin:0 auto;
}
.tiket_content .people .number .number_info{
   font-size: 16px;
   display: inline-block;
   padding-top:17px;
   text-align: left;
   width:50px;
}
.tiket_content .people .number ul{
   float:right;
   margin:5px 0;
}
.tiket_content .people .number ul li{
   float:left;
   background-color: #fff;
   border:1px solid #aaa;
   width:32px;
   height:32px;
   text-align: center;
   padding-top:5px;
   border-radius: 8px;
   box-sizing: border-box;
   margin-left:6px;
   cursor: pointer;
}
.tiket_content .people .number .number_price{
   width:200px;
   margin:5px 0;
   padding-left:67px;
   text-align: left;;
   font-size:10px;
}
.tiket_content .people .total{
   text-align: right;
   padding-right:10px;
}
.tiket_content .people .total span{
   font-size: 20px;
}
.tiket_content .people .tiketing_button{
   width:300px;
   height:70px;
   border:#333 1px solid;
   margin: 0 auto;
   border-radius: 35px;
   font-size:25px;
   padding-top:26px;
   box-sizing: border-box;
   font-family: 'KHNPHD';
   margin-top:50px;
   cursor: pointer;
   transition: ease 1s;
   position:relative;
   overflow: hidden;
   z-index: 1;
}
.tiket_content .people .tiketing_button img{
   position: absolute;
   top:0;
   left:0;
   z-index: -1;
   opacity: 0;
   transition: ease 1s;
}
.tiket_content .people .tiketing_button:hover{
   color:#fff;
   transition: ease 1s;
   border:none;
}
.tiket_content .people .tiketing_button:hover img{
   opacity: 1;
   transition: ease 1s;
}
/*상위 탭*/
#board> li.on{height:600px;}
#board> li.on.first> a{
	background-color:#fff;
	color:#333;
	font-weight:bold;
   transition: ease 0.5s;
}
#board li a.first{
	background-color:#555;
	color:#fff;
   transition: ease 0.5s;
}
#board li a.second{
	background-color:#444;
	color:#fff;
   transition: ease 0.5s;
}
#board li a.thrid{
	background-color:#333;
	color:#fff;
   transition: ease 0.5s;
}
#board> li > div{
	height:0;
	overflow: hidden;
}

/*하위 탭*/
/*12*/
.tab-contenta.currenta{
   display: inherit;
 }
.tab-contenta{
   display: none;
}

/*13*/
.tab-contentb.currentb{
   display: inherit;
 }
.tab-contentb{
   display: none;
}

/*14*/
.tab-contentc.currentc{
   display: inherit;
 }
.tab-contentc{
   display: none;
}

/*15*/
.tab-contentd.currentd{
   display: inherit;
 }
.tab-contentd{
   display: none;
}


/*16*/
.tab-contente.currente{
   display: inherit;
 }
.tab-contente{
   display: none;
}


/*17*/
.tab-contentf.currentf{
   display: inherit;
 }
.tab-contentf{
   display: none;
}


/*18*/
.tab-contentg.currentg{
   display: inherit;
 }
.tab-contentg{
   display: none;
}


/*19*/
.tab-contenth.currenth{
   display: inherit;
 }
.tab-contenth{
   display: none;
}

/*12*/
.tiket_content .choice .c_normal.currenta{
   background-color: #333;
   border: none;
   cursor: pointer;
}
.tiket_content .choice .c_normal.currenta .c_button_title{
   color:#fff;
}
.tiket_content .choice .c_normal.currenta .c_button_sub{
   color:#fff;
}

/*13*/
.tiket_content .choice .c_normal.currentb{
   background-color: #333;
   border: none;
   cursor: pointer;
}
.tiket_content .choice .c_normal.currentb .c_button_title{
   color:#fff;
}
.tiket_content .choice .c_normal.currentb .c_button_sub{
   color:#fff;
}

/*14*/
.tiket_content .choice .c_normal.currentc{
   background-color: #333;
   border: none;
   cursor: pointer;
}
.tiket_content .choice .c_normal.currentc .c_button_title{
   color:#fff;
}
.tiket_content .choice .c_normal.currentc .c_button_sub{
   color:#fff;
}

/*15*/
.tiket_content .choice .c_normal.currentd{
   background-color: #333;
   border: none;
   cursor: pointer;
}
.tiket_content .choice .c_normal.currentd .c_button_title{
   color:#fff;
}
.tiket_content .choice .c_normal.currentd .c_button_sub{
   color:#fff;
}

/*16*/
.tiket_content .choice .c_normal.currente{
   background-color: #333;
   border: none;
   cursor: pointer;
}
.tiket_content .choice .c_normal.currente .c_button_title{
   color:#fff;
}
.tiket_content .choice .c_normal.currente .c_button_sub{
   color:#fff;
}

/*17*/
.tiket_content .choice .c_normal.currentf{
   background-color: #333;
   border: none;
   cursor: pointer;
}
.tiket_content .choice .c_normal.currentf .c_button_title{
   color:#fff;
}
.tiket_content .choice .c_normal.currentf .c_button_sub{
   color:#fff;
}

/*18*/
.tiket_content .choice .c_normal.currentg{
   background-color: #333;
   border: none;
   cursor: pointer;
}
.tiket_content .choice .c_normal.currentg .c_button_title{
   color:#fff;
}
.tiket_content .choice .c_normal.currentg .c_button_sub{
   color:#fff;
}

/*19*/
.tiket_content .choice .c_normal.currenth{
   background-color: #333;
   border: none;
   cursor: pointer;
}
.tiket_content .choice .c_normal.currenth .c_button_title{
   color:#fff;
}
.tiket_content .choice .c_normal.currenth .c_button_sub{
   color:#fff;
}

/*open,close*/
.tiket_content .choice .c_normal.openclose{
   background-color: #333;
   border: none;
   cursor: pointer;
}
.tiket_content .choice .c_normal.openclose .c_button_title{
   color:#fff;
}
.tiket_content .choice .c_normal.openclose .c_button_sub{
   color:#fff;
}
